<section class="terms" [ngClass]="{'lang-ar' : getLang() == 'ar', 'lang-en': getLang() == 'en'}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title">
                   <span>{{lang.termsPageTitle}}</span>
                </h2>                
            </div>
            <div class="col-md-12">
                <div class="wrapper-box">
                    <p class="static-page-content">
                        المحتوى هنا .....
                        <br />
                        <br />
                        Content Here .....
                    </p>                
                </div>
            </div>
        </div>
    </div>
</section>