<div class="app-promotion">
    <div class="container">
        <div class="promotion-box">
            <div class="center-box">
                <a href="#" target="_blank">
                    <img src="https://www.careem.com/pubweb-v2/images/google_play.png" alt="google" />
                </a>
                <a href="#" target="_blank">
                    <img src="https://www.careem.com/pubweb-v2/images/app_store.png" alt="apple" />
                </a>  
            </div>                           
        </div>
    </div>
</div>