$mainColor: #01BA79;
$secondColor: '';
$bodyColor: #fefefe;
$fixedElementColor: #454346;
$subTitle: #6f6f6f;
$hoverColor: #00a169;
$titleColor: '';
$contentColor: '';
$arFont: 'Cairo', sans-serif;
$enFont: 'Roboto', sans-serif;